/*------------------------------- BREAKPOINT 428 PX --------------------------------------------------------*/

@media screen and (min-width: 428px) {
.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.section-two-menu-icons {
    display: none;
}

.sect-heads-three {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.section-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.11;
}




.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-subscribe-text {
    text-align: center;
}

}

/*------------------------------- BREAKPOINT 768 PX --------------------------------------------------------*/

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}

.sect-four > .container,
.sect-five >.container,
.footer >.container {
    max-width: 582px;
}

.section-two-menu {
    gap: 72px 24px;
}

.section-two-menu-item {
    width: calc((100% - 24px) / 2);
}

.sect-heads-three {
    text-align: start;
}

.sect-four-list {
    gap: 64px 24px;
}

.sect-four-item {
    width: calc((100% - 24px) / 2);
}




.footer-div {
    width: 582px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.footer-container {
    align-items: flex-start;
}


.footer-social {
    align-items: flex-start;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
}

.footer-subscribe-text {
    text-align: start;
}

.footer-form {
    flex-direction: row;
}

.footer-form-label {
    margin-right: 24px;
}

.footer-input {
    width: 264px;
    margin-bottom: 0;
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

}

/*------------------------------- BREAKPOINT 1158 PX --------------------------------------------------------*/

@media screen and (min-width: 1158px) {
.container, 
.sect-four>.container,
.sect-five>.container,
.footer>.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

/*------------------------------- SECTION 2 --------------------------------------------------------*/

.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-two-menu-item {
    width: calc((100% - 72px) / 4);
}

.section-two-menu-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud);
    margin-bottom: 8px;
}

.sect-heads-three {
    font-size: 20px;
    font-weight: 500;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
}

/*------------------------------- SECTION 4 --------------------------------------------------------*/

.sect-four {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* 
.sect-four-list {
    gap: 24px;
} */

.sect-four-item {
    width: calc((100% - 72px) / 4);
}





.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-div {
    width: 100%;
    flex-wrap: nowrap;
    gap: 0;
}

.footer-container {
    margin-right: 120px;
}

.footer-text {
    max-width: 264px;
}

.footer-social {
    margin-right: 80px;
}

}