:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*------------------------------- HEADER --------------------------------------------------------*/

.headers {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-logo-upper {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--ocean);
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    display: inline-block;
}

.logo-ligh {
    color: var(--grey);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-menu {
    display: none;
}

/*------------------------------- ADDRESS --------------------------------------------------------*/

.address-menu {
    display: none;
}

.mobail-menu-open-btn {
    padding: 24px 0;
    display: flex;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    stroke: var(--navy-blue);
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transform: translateX(100%);
    padding: 24px 24px 40px 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobail-menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
    display: flex;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--cornflower);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    background-color: var(--ocean);
    border: none;
    fill: var(--white);
}

.mobile-menu-list {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link-active {
    color: var(--ocean);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-menu-link {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.mobile-menu-address-menu {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-tel-link {
    color: var(--iris);
    font-size: 25px;                    
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-menu-email-link {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-menu-messenger-menu {
    display: flex;
    gap: 30px;
    margin: 0;
}

.mobile-menu-messenger-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-messenger-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-messenger-img {
    fill: var(--cloud);
}

.mobile-menu-messenger-link:hover,
.mobile-menu-messenger-link:focus {
    background-color: var(--green);
}

/*------------------------------- SECTION 1 --------------------------------------------------------*/

.section-one {
    margin: 0 auto;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navy-blue);
    padding-top: 112px;
    padding-bottom: 112px;
}


@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile-2x.jpg);
}
}

.section-one-title {
    color: var(--white);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 320px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.digital {
    background: var(--iris);
    font-family: inherit;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.digital:hover,
.digital:focus {
    background-color: var(--ocean);
}

/*------------------------------- SECTION 2 --------------------------------------------------------*/

.section-two {
    padding-top: 96px;
    padding-bottom: 96px;
    }

.section-two-menu {
    display: flex;
    gap: 72px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-two-menu-item {
    width: 100%;
}

.section-two-menu-icons {
    display: none;
}

.sect-heads-three {
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-text {
    color: var(--slate);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-three {
    padding-bottom: 120px;
    display: none;
}

.sect-heads-two {
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}


/*------------------------------- SECTION 4 --------------------------------------------------------*/

.img-bg {
    margin: 0 auto;
    background: var(--cornflower);
    border-radius: 0px 0px 4px 4px;
    max-width: 100%;
}

.workers{
    padding: 32px 0px;
}

.section-four {
    background-color: var(--cloud);
    padding-top: 96px;
    padding-bottom: 96px;
    display: block;
}

.section-four-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.section-four-item {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-four-heads-three {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.section-four-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    }

.messenger-icons-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.messenger-icons-item {
    width: calc((100% - 72px) / 4);
    width: 40px;
    height: 40px;
}

.messenger-icons-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    fill: var(--cloud);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.messenger-icons-link:hover,
.messenger-icons-link:focus {
    background-color: var(--ocean);
}


.messenger-icons-img {
    fill: var(--cloud);
}

/*------------------------------- SECTION 5 --------------------------------------------------------*/

.section-five {
    background-color: var(--white);
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-five-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px 16px;
    margin: 0;
}

.section-five-item {
    width: calc((100% - 16px) / 2);
}

.section-five-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 100%;
    fill: var(--light-slate);
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--light-slate);
}

.section-five-link:hover,
.section-five-link:focus {
    color: var(--ocean);
    border-color: var(--ocean);
}

.section-five-img {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

/*------------------------------- FOOTER --------------------------------------------------------*/

.footer {
    background: var(--navy-blue);
    padding-top: 97.5px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
}

.footer-div {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-logo-upper {
    margin-bottom: 17.5px;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--iris);
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
}

.logo-ligh-two {
    color: var(--cloud);
}

.footer-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 268px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-text {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-menu {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-img {
    fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

.footer-form-label {
    margin-bottom: 16px;
}

.footer-subscribe-text {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-input {
    max-width: 92vw;
    width: 398px; 
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--white);
}

.footer-input::placeholder {
    color: var(--white);
}

.footer-form-btn {
    margin: 0 auto;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: var(--iris);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: var(--ocean);
}

.footer-form-img {
    margin-left: 16px;
    fill: var(--white);
}

/*------------------------------- PORTFOLIO --------------------------------------------------------*/


.top-btn {
    padding-top: 96px;
    padding-bottom: 120px;
}

.top-btn-menu {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.our-services {
    justify-content: center;
}

.our-services-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid var(--cloud);
    background: var(--white);
}

.our-services-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-services-link:hover,
.our-services-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-services-images {
    border: 1px solid var(--cornflower);
}

.our-services-cover {
    position: relative;
    overflow: hidden;
}

.our-services-link:hover .our-services-cover-text,
.our-services-link:focus .our-services-cover-text {
    transform: translateY(0%);
}

.our-services-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 40px 32px;
    color: var(--cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color:var(--iris);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addition {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.our-services {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.digital-two {
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    padding: 12px 24px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid var(--cornflower);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.digital-two:hover,
.digital-two:focus {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/*------------------------------- MODAL --------------------------------------------------------*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navyblue-modal);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 392px;
    min-height: 584px;
    border-radius: 4px;
    background-color: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(5);
}

.modal-close-btn {
    display: flex;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--cornflower);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    background-color: var(--ocean);
    border: none;
    fill: var(--white);
}

.modal-img {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    margin-bottom: 8px;
}

.input-wrap {
    position: relative;
}

.modal-title {
    color: var(--navy-blue);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.input-label {
    display: block;
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-input {
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    width: 100%;
    height: 40px;
    padding: 11px 10px 11px 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
    border-color: var(--iris);
}

.modal-input:focus + .modal-form-img,
.modal-input:hover + .modal-form-img {
    fill: var(--iris);
}

.modal-form-img {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 11px 10px 11px 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    padding: 8px 16px;
}

.modal-textarea:focus {
    border-color: var(--iris);
}

.modal-textarea::placeholder {
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox:checked + .checkbox-text span {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
    border-color: var(--ocean);
}

.modal-checkbox:focus +.checkbox-text span {
    border-color: var(--ocean);
}

.checkbox-text {
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
    margin-bottom: 24px;
}

.privacy-link {
    color: var(--iris);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.checkbox-text span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-send-btn:focus,
.modal-send-btn:hover {
    background-color: var(--ocean);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}